# CoNLL_View_Doc.ipynb

Notebook for viewing individual documents from the CoNLL corpus, for use 
alongside the other CoNLL related notebooks in this directory.

In [1]:
# The Jupyter kernel for this notebook usually starts up inside the notebooks
# directory, but the text_extensions_for_pandas package code is in the parent
# directory. Add that parent directory to the front of the Python include path.
import sys
if ".." not in sys.path:
    sys.path.insert(0, "..")

# Libraries
import numpy as np
import pandas as pd

# And of course we need the text_extensions_for_pandas library itself.
import text_extensions_for_pandas as tp

# Common code shared across notebooks comes from util.py
import util

In [2]:
# Download and cache the data set.
# NOTE: This data set is licensed for research use only. Be sure to adhere
#  to the terms of the license when using this data set!
data_set_info = util.get_conll_data()
data_set_info

{'train': 'outputs/eng.train',
 'dev': 'outputs/eng.testa',
 'test': 'outputs/eng.testb'}

In [3]:
# The raw dataset in its original tokenization
corpus_raw = {}
for fold_name, file_name in data_set_info.items():
    df_list = tp.conll_2003_to_dataframes(file_name, 
                                          ["pos", "phrase", "ent"],
                                          [False, True, True])
    corpus_raw[fold_name] = [
        df.drop(columns=["pos", "phrase_iob", "phrase_type"])
        for df in df_list
    ]

In [4]:
# Convert IOB2-tagged tokens to spans
all_spans = {
    k: [tp.iob_to_spans(df) for df in v] for k, v in corpus_raw.items()
}

In [5]:
# Turn off the 60-row limit for displaying dataframes
pd.options.display.max_rows = None

In [6]:
fold = "dev"
doc_offset = 28
doc_df = all_spans[fold][doc_offset]
doc_df

                            token_span ent_type
0                [20, 29): 'AUSTRALIA'      LOC
1                  [58, 65): 'COLOMBO'      LOC
2                [77, 86): 'Australia'      LOC
3              [127, 136): 'Sri Lanka'      LOC
4                 [195, 201): 'Singer'     MISC
5              [244, 253): 'Australia'      LOC
6              [255, 264): 'Ian Healy'      PER
7          [276, 289): 'Michael Bevan'      PER
8                 [291, 297): 'Damien'      PER
9               [298, 306): 'Flemming'      PER
10       [308, 323): 'Jason Gillespie'      PER
11            [325, 335): 'Stuart Law'      PER
12         [337, 350): 'Glenn McGrath'      PER
13                 [352, 357): 'Ricky'      PER
14               [358, 365): 'Ponting'      PER
15        [367, 381): 'Michael Slater'      PER
16        [383, 397): 'Darren Lehmann'      PER
17            [399, 409): 'Mark Waugh'      PER
18                 [411, 416): 'Steve'      PER
19                 [417, 422): 'Waugh'      PER
20             [424, 433): 'Sri Lanka'      LOC
21      [435, 451): 'Arjuna Ranatunga'      PER
22     [463, 480): 'Sanath Jayasuriya'      PER
23  [482, 502): 'Romesh Kaluwitharana'      PER
24      [504, 520): 'Asanka Gurusinha'      PER
25     [522, 539): 'Aravinda de Silva'      PER
26   [541, 560): 'Hashan Tillekeratne'      PER
27       [562, 577): 'Roshan Mahanama'      PER
28     [579, 596): 'Kumara Dharmasena'      PER
29         [598, 611): 'Chaminda Vaas'      PER
30  [613, 633): 'Muthiah Muralitharan'      PER
31         [635, 648): 'Upul Chandana'      PER

In [7]:
doc_df["token_span"].values.repr_html_show_offsets = False
doc_df["token_span"].values

<TokenSpanArray>
[             [20, 29): 'AUSTRALIA',                [58, 65): 'COLOMBO',
              [77, 86): 'Australia',            [127, 136): 'Sri Lanka',
               [195, 201): 'Singer',            [244, 253): 'Australia',
            [255, 264): 'Ian Healy',        [276, 289): 'Michael Bevan',
               [291, 297): 'Damien',             [298, 306): 'Flemming',
      [308, 323): 'Jason Gillespie',           [325, 335): 'Stuart Law',
        [337, 350): 'Glenn McGrath',                [352, 357): 'Ricky',
              [358, 365): 'Ponting',       [367, 381): 'Michael Slater',
       [383, 397): 'Darren Lehmann',           [399, 409): 'Mark Waugh',
                [411, 416): 'Steve',                [417, 422): 'Waugh',
            [424, 433): 'Sri Lanka',     [435, 451): 'Arjuna Ranatunga',
    [463, 480): 'Sanath Jayasuriya', [482, 502): 'Romesh Kaluwitharana',
     [504, 520): 'Asanka Gurusinha',    [522, 539): 'Aravinda de Silva',
  [541, 560): 'Hashan Tillekeratne',      [562, 577): 'Roshan Mahanama',
    [579, 596): 'Kumara Dharmasena',        [598, 611): 'Chaminda Vaas',
 [613, 633): 'Muthiah Muralitharan',        [635, 648): 'Upul Chandana']
Length: 32, dtype: TokenSpanType

In [8]:
# Dataframe of tokens for finding offsets
toks_df = corpus_raw[fold][doc_offset]
toks_df

,char_span,token_span,ent_iob,ent_type,sentence,line_num
0,"[0, 10): '-DOCSTART-'","[0, 10): '-DOCSTART-'",O,None,"[0, 10): '-DOCSTART-'",7780
1,"[11, 18): 'CRICKET'","[11, 18): 'CRICKET'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7782
2,"[18, 19): '-'","[18, 19): '-'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7783
3,"[20, 29): 'AUSTRALIA'","[20, 29): 'AUSTRALIA'",B,LOC,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7784
4,"[30, 33): 'WIN'","[30, 33): 'WIN'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7785
5,"[34, 38): 'TOSS'","[34, 38): 'TOSS'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7786
6,"[39, 42): 'AND'","[39, 42): 'AND'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7787
7,"[43, 49): 'CHOOSE'","[43, 49): 'CHOOSE'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7788
8,"[50, 52): 'TO'","[50, 52): 'TO'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7789
9,"[53, 56): 'BAT'","[53, 56): 'BAT'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7790
10,"[56, 57): '.'","[56, 57): '.'",O,None,"[11, 57): 'CRICKET- AUSTRALIA WIN TOSS AND CHO...",7791
11,"[58, 65): 'COLOMBO'","[58, 65): 'COLOMBO'",B,LOC,"[58, 76): 'COLOMBO 1996-08-30'",7793
12,"[66, 76): '1996-08-30'","[66, 76): '1996-08-30'",O,None,"[58, 76): 'COLOMBO 1996-08-30'",7794
13,"[77, 86): 'Australia'","[77, 86): 'Australia'",B,LOC,"[77, 103): 'Australia won the toss and'",7796
14,"[87, 90): 'won'","[87, 90): 'won'",O,None,"[77, 103): 'Australia won the toss and'",7797
15,"[91, 94): 'the'","[91, 94): 'the'",O,None,"[77, 103): 'Australia won the toss and'",7798
16,"[95, 99): 'toss'","[95, 99): 'toss'",O,None,"[77, 103): 'Australia won the toss and'",7799
17,"[100, 103): 'and'","[100, 103): 'and'",O,None,"[77, 103): 'Australia won the toss and'",7800
18,"[104, 111): 'elected'","[104, 111): 'elected'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7802
19,"[112, 114): 'to'","[112, 114): 'to'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7803
20,"[115, 118): 'bat'","[115, 118): 'bat'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7804
21,"[119, 126): 'against'","[119, 126): 'against'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7805
22,"[127, 130): 'Sri'","[127, 130): 'Sri'",B,LOC,"[104, 167): 'elected to bat against Sri Lanka ...",7806
23,"[131, 136): 'Lanka'","[131, 136): 'Lanka'",I,LOC,"[104, 167): 'elected to bat against Sri Lanka ...",7807
24,"[137, 139): 'in'","[137, 139): 'in'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7808
25,"[140, 143): 'the'","[140, 143): 'the'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7809
26,"[144, 149): 'third'","[144, 149): 'third'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7810
27,"[150, 159): 'day-night'","[150, 159): 'day-night'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7811
28,"[160, 167): 'limited'","[160, 167): 'limited'",O,None,"[104, 167): 'elected to bat against Sri Lanka ...",7812
29,"[168, 173): 'overs'","[168, 173): 'overs'",O,None,"[168, 228): 'overs cricket match in the Singer...",7814
30,"[174, 181): 'cricket'","[174, 181): 'cricket'",O,None,"[168, 228): 'overs cricket match in the Singer...",7815
31,"[182, 187): 'match'","[182, 187): 'match'",O,None,"[168, 228): 'overs cricket match in the Singer...",7816
32,"[188, 190): 'in'","[188, 190): 'in'",O,None,"[168, 228): 'overs cricket match in the Singer...",7817
33,"[191, 194): 'the'","[191, 194): 'the'",O,None,"[168, 228): 'overs cricket match in the Singer...",7818
34,"[195, 201): 'Singer'","[195, 201): 'Singer'",B,MISC,"[168, 228): 'overs cricket match in the Singer...",7819
35,"[202, 207): 'world'","[202, 207): 'world'",O,None,"[168, 228): 'overs cricket match in the Singer...",7820
36,"[208, 214): 'series'","[208, 214): 'series'",O,None,"[168, 228): 'overs cricket match in the Singer...",7821
37,"[215, 225): 'tournament'","[215, 225): 'tournament'",O,None,"[168, 228): 'overs cricket match in the Singer...",7822
38,"[226, 228): 'on'","[226, 228): 'on'",O,None,"[168, 228): 'overs cricket match in the Singer...",7823
39,"[229, 235): 'Friday'","[229, 235): 'Friday'",O,None,"[229, 236): 'Friday.'",7825
40,"[235, 236): '.'","[235, 236): '.'",O,None,"[229, 236): 'Friday.'",7826
41,"[237, 242): 'Teams'","[237, 242): 'Teams'",O,None,"[237, 243): 'Teams:'",7828
42,"[242, 243): ':'","[242, 243): ':'",O,None,"[237, 243): 'Teams:'",7829
43,"[244, 253): 'Australia'","[244, 253): 'Australia'",B,LOC,"[244, 297): 'Australia- Ian Healy (captain), M...",7831
44,"[253, 254): '-'","[253, 254): '-'",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7832
45,"[255, 258): 'Ian'","[255, 258): 'Ian'",B,PER,"[244, 297): 'Australia- Ian Healy (captain), M...",7833
46,"[259, 264): 'Healy'","[259, 264): 'Healy'",I,PER,"[244, 297): 'Australia- Ian Healy (captain), M...",7834
47,"[265, 266): '('","[265, 266): '('",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7835
48,"[266, 273): 'captain'","[266, 273): 'captain'",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7836
49,"[273, 274): ')'","[273, 274): ')'",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7837
50,"[274, 275): ','","[274, 275): ','",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7838
51,"[276, 283): 'Michael'","[276, 283): 'Michael'",B,PER,"[244, 297): 'Australia- Ian Healy (captain), M...",7839
52,"[284, 289): 'Bevan'","[284, 289): 'Bevan'",I,PER,"[244, 297): 'Australia- Ian Healy (captain), M...",7840
53,"[289, 290): ','","[289, 290): ','",O,None,"[244, 297): 'Australia- Ian Healy (captain), M...",7841
54,"[291, 297): 'Damien'","[291, 297): 'Damien'",B,PER,"[244, 297): 'Australia- Ian Healy (captain), M...",7842
55,"[298, 306): 'Flemming'","[298, 306): 'Flemming'",B,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7844
56,"[306, 307): ','","[306, 307): ','",O,None,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7845
57,"[308, 313): 'Jason'","[308, 313): 'Jason'",B,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7846
58,"[314, 323): 'Gillespie'","[314, 323): 'Gillespie'",I,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7847
59,"[323, 324): ','","[323, 324): ','",O,None,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7848
60,"[325, 331): 'Stuart'","[325, 331): 'Stuart'",B,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7849
61,"[332, 335): 'Law'","[332, 335): 'Law'",I,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7850
62,"[335, 336): ','","[335, 336): ','",O,None,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7851
63,"[337, 342): 'Glenn'","[337, 342): 'Glenn'",B,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7852
64,"[343, 350): 'McGrath'","[343, 350): 'McGrath'",I,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7853
65,"[350, 351): ','","[350, 351): ','",O,None,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7854
66,"[352, 357): 'Ricky'","[352, 357): 'Ricky'",B,PER,"[298, 357): 'Flemming, Jason Gillespie, Stuart...",7855
67,"[358, 365): 'Ponting'","[358, 365): 'Ponting'",B,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7857
68,"[365, 366): ','","[365, 366): ','",O,None,"[358, 416): 'Ponting, Michael Slater, Darren L...",7858
69,"[367, 374): 'Michael'","[367, 374): 'Michael'",B,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7859
70,"[375, 381): 'Slater'","[375, 381): 'Slater'",I,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7860
71,"[381, 382): ','","[381, 382): ','",O,None,"[358, 416): 'Ponting, Michael Slater, Darren L...",7861
72,"[383, 389): 'Darren'","[383, 389): 'Darren'",B,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7862
73,"[390, 397): 'Lehmann'","[390, 397): 'Lehmann'",I,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7863
74,"[397, 398): ','","[397, 398): ','",O,None,"[358, 416): 'Ponting, Michael Slater, Darren L...",7864
75,"[399, 403): 'Mark'","[399, 403): 'Mark'",B,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7865
76,"[404, 409): 'Waugh'","[404, 409): 'Waugh'",I,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7866
77,"[409, 410): ','","[409, 410): ','",O,None,"[358, 416): 'Ponting, Michael Slater, Darren L...",7867
78,"[411, 416): 'Steve'","[411, 416): 'Steve'",B,PER,"[358, 416): 'Ponting, Michael Slater, Darren L...",7868
79,"[417, 422): 'Waugh'","[417, 422): 'Waugh'",B,PER,"[417, 423): 'Waugh.'",7870
80,"[422, 423): '.'","[422, 423): '.'",O,None,"[417, 423): 'Waugh.'",7871
81,"[424, 427): 'Sri'","[424, 427): 'Sri'",B,LOC,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7873
82,"[428, 433): 'Lanka'","[428, 433): 'Lanka'",I,LOC,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7874
83,"[433, 434): '-'","[433, 434): '-'",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7875
84,"[435, 441): 'Arjuna'","[435, 441): 'Arjuna'",B,PER,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7876
85,"[442, 451): 'Ranatunga'","[442, 451): 'Ranatunga'",I,PER,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7877
86,"[452, 453): '('","[452, 453): '('",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7878
87,"[453, 460): 'captain'","[453, 460): 'captain'",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7879
88,"[460, 461): ')'","[460, 461): ')'",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7880
89,"[461, 462): ','","[461, 462): ','",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7881
90,"[463, 469): 'Sanath'","[463, 469): 'Sanath'",B,PER,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7882
91,"[470, 480): 'Jayasuriya'","[470, 480): 'Jayasuriya'",I,PER,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7883
92,"[480, 481): ','","[480, 481): ','",O,None,"[424, 481): 'Sri Lanka- Arjuna Ranatunga (capt...",7884
93,"[482, 488): 'Romesh'","[482, 488): 'Romesh'",B,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7886
94,"[489, 502): 'Kaluwitharana'","[489, 502): 'Kaluwitharana'",I,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7887
95,"[502, 503): ','","[502, 503): ','",O,None,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7888
96,"[504, 510): 'Asanka'","[504, 510): 'Asanka'",B,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7889
97,"[511, 520): 'Gurusinha'","[511, 520): 'Gurusinha'",I,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7890
98,"[520, 521): ','","[520, 521): ','",O,None,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7891
99,"[522, 530): 'Aravinda'","[522, 530): 'Aravinda'",B,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7892
100,"[531, 533): 'de'","[531, 533): 'de'",I,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7893
101,"[534, 539): 'Silva'","[534, 539): 'Silva'",I,PER,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7894
102,"[539, 540): ','","[539, 540): ','",O,None,"[482, 540): 'Romesh Kaluwitharana, Asanka Guru...",7895
103,"[541, 547): 'Hashan'","[541, 547): 'Hashan'",B,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7897
104,"[548, 560): 'Tillekeratne'","[548, 560): 'Tillekeratne'",I,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7898
105,"[560, 561): ','","[560, 561): ','",O,None,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7899
106,"[562, 568): 'Roshan'","[562, 568): 'Roshan'",B,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7900
107,"[569, 577): 'Mahanama'","[569, 577): 'Mahanama'",I,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7901
108,"[577, 578): ','","[577, 578): ','",O,None,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7902
109,"[579, 585): 'Kumara'","[579, 585): 'Kumara'",B,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7903
110,"[586, 596): 'Dharmasena'","[586, 596): 'Dharmasena'",I,PER,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7904
111,"[596, 597): ','","[596, 597): ','",O,None,"[541, 597): 'Hashan Tillekeratne, Roshan Mahan...",7905
112,"[598, 606): 'Chaminda'","[598, 606): 'Chaminda'",B,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7907
113,"[607, 611): 'Vaas'","[607, 611): 'Vaas'",I,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7908
114,"[611, 612): ','","[611, 612): ','",O,None,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7909
115,"[613, 620): 'Muthiah'","[613, 620): 'Muthiah'",B,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7910
116,"[621, 633): 'Muralitharan'","[621, 633): 'Muralitharan'",I,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7911
117,"[633, 634): ','","[633, 634): ','",O,None,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7912
118,"[635, 639): 'Upul'","[635, 639): 'Upul'",B,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7913
119,"[640, 648): 'Chandana'","[640, 648): 'Chandana'",I,PER,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7914
120,"[648, 649): '.'","[648, 649): '.'",O,None,"[598, 649): 'Chaminda Vaas, Muthiah Muralithar...",7915

######